<header>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">﻿
</header>

<style>
   p{
    font-size: 10px;
  }
</style>
<div class="pageOne text-center" id="p1">
  <ul class="nav nav-pills">
   <%= link_to 'About', about_path %>
    <div>
      <%= link_to 'Projects', projects_path %>
    </div>
    <div>
     <%= link_to 'Contact', contact_path %>
    </div>
  </ul>

  <div class="block text-center">
  <h1>Akib Hossain
</h1>
  <h2>Software Engineer</h2>
  
    <div class="btnList text-center">

    <a class="btn btn-default" href="#"><i class="fa fa-github fa-lg" id="githubIcon" aria-hidden="true"></i>
    Git Hub</a>
     <a class="btn btn-default" href="#"><i class="fa fa-linkedin fa-lg" id="linkedinIcon" aria-hidden="true"></i>
    LinkedIn</a>
     <a class="btn btn-default" href="#"><i class="fa fa-youtube fa-lg" id="youtubeIcon" aria-hidden="true"></i>
   Youtube</a>
      </div>
     <p>	Copyright © Akib 2018. All Rights Reserved</p>
  </div>
</div>
 