<style>  
p{
    font-size: 20px;
    color: black;
  }
  </style>

<%= link_to 'Home', root_path %>

<h1>Portfolio</h1>
    <h2>Projects by Akib Hossain</h2>
  </div>
  <div class="containter">
  <div class="row">
  <div class="col-md-6">
  <p data-height="265" data-theme-id="0" data-slug-hash="QayKbK" data-default-tab="result" data-user="flyche213" data-embed-version="2" data-pen-title="Henry Ford" class="codepen">See the Pen <a href="https://codepen.io/flyche213/pen/QayKbK/">Henry Ford</a> by Akib Hossain (<a href="https://codepen.io/flyche213">@flyche213</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js">
    </script>
    <a href="https://codepen.io/flyche213/full/QayKbK" target="blank"><h3>Tribute to Henry Ford</h3></a>
    </div>
      <p>	Copyright © Akib 2018. All Rights Reserved</p>
    
    